h2 {
    color: navy;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    width: 500px;
    margin: auto;
    background-color: gainsboro;
}
p {
    color: black;
    font-size: 16px;
}
.heading {
    color: navy;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uppercase {
    text-transform: uppercase;
}
#about, #skills, #accomplishments, #contact{
    font-family: calibri;
    text-transform: capitalize;
}
.contactform {
    font-family: bold;
}
.list {
    color: black;
}
h3 {
    color: black;
    font-size: 16px;
    text-align: center;
}
body {
    font-family: Arial;
}
h1 {
    text-align: center;
    color: navy;
    background-color: gainsboro;
}
.img {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: 10%;
    border-radius: 100%;
}
#contactsection {
    background-color: rgb(192, 227, 241);
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#aboutsection {
    margin: 0;
    border: black;
}
#accomplishmentsection {
    margin: auto;
}
nav {
    position: fixed;
}
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main {
    margin-top: 20px;
}
header {
    margin-top: 50px;
}
/* When the screen is less than 600 pixels wide, hide all links. Show the icon that should open and close the nav (.icon) */
@media only screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
/* The "responsive" class is added to the topnav with JavaScript when the use clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 600px) {
    .topnav.responsive {
      position: fixed;
  }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.center {
    margin-left: auto;
    margin-right: auto;
}
div {
    text-align: center;
}
ul {
    display: inline-block;
    text-align: left;
}
